body {
  font-family: cursive;
  text-align: center;
  background-color: #f0f0f0;
}

#game-board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#message {
  margin-top: 0px;
  font-size: 18px;
  color: red;
}
ul {
  list-style-type: none;
}
li {
  font-size: large;
  padding: 10px;
}
.start-button {
  padding: 20px;
  background-color: lightgray;
  color: black;
  border-radius: 12px;
  text-decoration: none;
  border: none;
}
.para {
  color: red;
}
.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: lightgray;
  margin-top: 0;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
}
.circle.higher {
  background-color: red;
  color: white;
}
.circle.lower {
  background-color: yellow;
}
.circle.correct {
  background-color: green;
  color: white;
}
.play-again-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: lightgray;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.play-again-btn:hover {
  background-color: darkgray;
}
